* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #efeff2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
p{
    display: flex;
    margin: auto 10px;
    font-size: 22px;
    width: 300px;
    color:black;
    border-radius: 6px;
    border: 1px solid lightblue;
    padding: 10px;
}