*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    background-color: #efeff2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.3) ;
    border-radius: 12px;
    background: #22252D;
    overflow: hidden;
}

form input{
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: #ddd;
    background: #000;
    text-align: right;
    pointer-events: none;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
button{
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid #000;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.btn-yellow{
    background-color: rgb(245, 146 , 62);
    color: #fff;
}
.btn-grey{
    background-color: rgb(224,224,224);
}
.btn-equal{
    background: green;
}
.btn-clear{
    background: red;
}

/* //https://www.youtube.com/watch?v=HQCLzqhiT2w&list=PL9bD98LkBR7P16BndaNtP4x6Wf5Ib85Hm */

/* https://www.youtube.com/watch?v=rx-FPPnG9Ck&list=PLw9zMOoodWb5YB2TqrboVoSBkCKaOsvE_&index=10 */